<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="TenantID" value="YOUR_TENANT_ID"/>
    <add key="ClientID" value="YOUR_CLIENT_ID"/>
    <add key="AppKey" value="YOUR_APP_KEY"/>
    <add key="AzureActiveDirectoryInstance" value="https://login.microsoftonline.com/"/>
    <add key="Resource" value="https://management.core.windows.net/"/>
    <add key="SubscriptionID" value="YOUR_SUBSCRIPTION_ID"/>
  </appSettings>
</configuration>